<!DOCTYPE html>
<html ng-app="tube">
 <head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="style.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
   <script src="tube.js"></script>
 </head>
 <body ng-controller="tubeController">
  <div id="header">
    <div id="brand"></div>
    <p id="logo">PFL</p>
    <ul>
      <li>Plan a Journey</li>
      <li><a href="https://www.tfl.gov.uk/cdn/static/cms/documents/standard-tube-map.pdf"></a>Tube Map</li>
    </ul>
  </div>
  </div>

  <div id="main">
    <p id="status_header">Status Update</p>
  <div id="holder">
    <div ng-repeat="item in holder track by $index" id="tube_status">
      <p>{{item}}</p>
    </div>
  </div>

  <div>
    <form id="input_box">
      <p id="textcolor">From</p><input ng-model="postcode1" type="text">
      <p id="textcolor">To</p><input ng-model="postcode2" type="text">
      <input type="submit" value="Submit" ng-click="postcode()" >
    </form>

    <div ng-repeat="item in destination" id="journey_planner">
    <p id="textcolor">{{item}}</p>

    <p id="textcolor">Arrival Time {{arrival_time}}</p>
  </div>
  </div>
</div>
 </body>
</html>